
  <div id="menu-btns">
    <h1 style="color: white;">
      <%= text._wtls %>
    </h1>

    <button type="button" onclick="UserEvent('btnPlay')">
      <%= text.play %>
    </button><br>

    <button type="button" onclick="UserEvent('btnSettings')">
      <%= text.settings %>
    </button><br>


    <button type="button" onclick="UserEvent('btnMenuTutorial')">
      <%= text.tutorial %>
    </button><br>

    <button type="button" onclick="UserEvent('btnMenuInfo')">
      <%= text.info %>
    </button><br>
    
    <button type="button" onclick="UserEvent('btnMenuSupport')">
      <%= text.support %>
    </button><br>

    <button type="button" onclick="UserEvent('btnMenuRoad')">
      <%= text.roadmap %>
    </button><br>

    <button type="button" onclick="UserEvent('btnMenuTest')">
      <%= text.test %>
    </button><br>
  </div>


